:root{
    --hue--neutral : 200;
    --hue--wrong : 0;
    --hue--correct:145;
}
body{
    --hue:var(--hue--neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue),100%,20%);
}
body.correct{
    --hue :var(--hue--correct)
}
body.wrong{
    --hue :var(--hue--wrong)
}
.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow:0 0 10px 2px ;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}
.btn {
    --hue: var(--hue--neutral);
    border: 2px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    background-color: #f3f4f6;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 200px;
    text-align: center;
}


.btn:hover {
    background-color: hsl(var(--hue), 100%, 40%);
    color: black;
}
.start-btn,
.next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
  display: none;  
}

